html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: url(./img/cork-board.jpg);
	background-repeat: repeat;
}

#root {
	min-height: 100vh;
}

.App {
	min-height: 100vh;
}

nav {
	font-family: 'Coiny', Arial, sans-serif;
	text-transform: uppercase;
}

div.main {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	padding-top: 12vh;
}

.burger {
	background: transparent;
	border: none;
	cursor: pointer;
	color: #9c27b0;
	z-index: 1;
	position: fixed;
	top: 2.5vh;
	left: 7.5vw;
}

.burger:focus {
	background-color: transparent;
}

.mobile-menu {
	padding-left: 24px;
	position: fixed;
	top: 56px;
	width: 100%;
	box-shadow: 0 2px 2px #333;
	z-index: 1;
	animation-name: drop-down;
	animation-duration: 0.2s;
}

.mobile-links {
	margin-top: 8px;
	animation-name: appear;
	animation-duration: 0.5s;
}

.mobile-links li a {
	color: white;
}

.mobile-links li {
	margin-bottom: 14px;
}

.mobile-links li:last-child {
	margin-bottom: 28px;
}

div.notes-trigger {
	position: fixed;
	top: 2.5vh;
	right: 7.5vw;
	z-index: 1;
}

i.notes-trigger {
	cursor: pointer;
	color: #9c27b0;
}

span.notes-trigger {
	cursor: pointer;
	color: white;
}

.logged-in {
	animation-name: drop-down-farther;
	animation-duration: 0.2s;
}

.card,
.desktop-notes {
	background: #f9ff97;
}

.card-title {
	font-family: 'Architects Daughter', Arial, sans-serif;
	text-transform: uppercase;
	color: #9c27b0;
}

.card-content {
	font-family: 'Architects Daughter', Arial, sans-serif;
	font-size: 1.3rem;
}

.post-details .card:nth-child(2) .card-content {
	padding: 14px 12px 12px 24px;
}

div#loading {
	background: #f9ff97;
	box-shadow: 1px 1px 1.8px grey;
}

#loading p {
	margin-top: 2.5em;
	font-size: 3em;
	color: #9c27b0;
	font-family: 'Architects Daughter', Arial, sans-serif;
}

.notifications-panel {
	position: fixed;
	top: 56px;
	right: 0;
	height: 100vh;
	background: url(./img/notebook_paper.jpg);
	width: 80vw;
	z-index: 1;
	animation-name: slide-in;
	animation-duration: 0.2s;
}

div.notifications-content {
	animation-name: appear;
	animation-duration: 0.2s;
}

.note-card {
	width: 76%;
	margin: 8px auto 14px;
}

.note-panel-title {
	font-family: 'Architects Daughter', Arial, sans-serif;
	text-transform: uppercase;
	margin: 0.9rem 0 1rem 10.7vw;
	font-size: 1.8rem;
}

.desktop-notes {
	margin-top: 1.6rem;
}

.desktop-notes .note-card {
	width: auto;
	margin: 0;
}

.desktop-notes .note-card-title {
	color: black !important;
	margin: 1rem 0 1rem 1vw;
}

.desktop-notes .card-content {
	padding: 12px;
}

form {
	background: #f9ff97;
	padding: 2px 20px 0;
	margin-top: 46px;
	box-shadow: 1px 1px 1.8px grey;
}

form h4 {
	font-family: 'Architects Daughter', Arial, sans-serif;
	color: #9c27b0;
}

.btn,
.btn:hover,
.btn:focus {
	background: #9c27b0;
}

form button,
form h4 {
	margin: 20px 0;
}

form .red-text p,
form .green-text p,
form .loading-msg {
	padding-bottom: 1.5em;
	font-size: 1.2em;
}

form .loading-msg span {
	color: #9c27b0;
	margin-left: 0.5rem;
}

form .loading-msg i {
	color: #888;
}

.field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 30px rgba(243,229,245,0.5) inset !important;
    transition: 0s !important;
}

.darken {
	background: rgba(0, 0, 0, 0.3);
	cursor: default;
}

.darken-form {
	background: #d8dd84;
}

.darken-button,
.darken-button:hover {
	color: grey;
	background: #591565;
	cursor: default;
}

.darken .brand-logo,
.darken-burger {
	color: grey;
	pointer-events: none;
}

/*change materialize form field default colors*/
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #9c27b0;
	box-shadow: none;
}

/*hide mobile nav menu*/
.hidden {
	display: none;
}

/*animations*/
@keyframes  drop-down {
	from {height: 0px;}
	to {height: 92px;}
}

@keyframes drop-down-farther {
	from {height: 0px;}
	to {height: 127px;}
}

@keyframes  appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes slide-in {
	from {width: 0;}
	to {width: 100;}
}

/*////////////////////////////////////////////// media queries ///////////////////////////////////////////////////////*/

/* have navbar fixed to top of window
for smaller screens*/
@media screen and (max-width: 992px) {
	.nav-wrapper {
		position: fixed;
		top: 0;
		z-index: 1;
	}
}

/* keep top of mobile notifications panel and mobile
nav menu at bottom edge of navbar */
@media screen and (min-width: 601px) {
	.mobile-menu {
		top: 62px;
	}

	.notifications-panel {
		top: 64px;
	}
}

/* change relative width of mobile notifications panel
and position of its h5 as screen gets wider */
@media screen and (min-width: 431px) {
	.notifications-panel {
		width: 75vw;
	}

	.note-panel-title {
		margin-left: 9.4vw;
	}
}

@media screen and (min-width: 741px) {
	.notifications-panel {
		width: 65vw;
	}

	.note-panel-title {
		margin-left: 8.2vw;
	}
}

@media screen and (min-width: 875px) {
	.notifications-panel {
		width: 50vw;
	}

	.note-panel-title {
		margin-left: 6.5vw;
	}
}

/* desktop styles */
@media screen and (min-width: 993px) {
	div.main {
		padding-top: 4vh;
	}

	.note-card {
		box-shadow: 0 0 0;
	}
}
