html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e0e0e0;
  height: 100%;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
}

div.main {
	height: 100%;
	padding-top: 12vh;
}

form {
	background: white;
	padding: 2px 20px 0;
	margin-top: 46px;
}

.btn {
	background: #9c27b0;
}

form button,
form h5 {
	margin: 20px 0;
}

.field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 30px rgba(243,229,245,0.5) inset !important;
    transition: 0s !important;
}

.burger {
	background: transparent;
	border: none;
	cursor: pointer;
	color: #9c27b0;
}

.burger:focus {
	background-color: transparent;
}

.mobile-menu {
	padding-left: 24px;
	position: absolute;
	width: 100%;
	box-shadow: 0 2px 2px #9e9e9e;
	z-index: 1;
	animation-name: drop-down;
	animation-duration: 0.2s;
}

.mobile-links {
	margin-top: 8px;
	animation-name: appear;
	animation-duration: 0.2s;
}

.mobile-links li a {
	color: white;
}

.mobile-links li {
	margin-bottom: 14px;
}

.mobile-links li:last-child {
	margin-bottom: 28px;
}

div.notes-trigger {
	position: fixed;
	top: 1.5rem;
	right: 6.2rem;
	z-index: 1;
}

span.notes-trigger,
i.notes-trigger {
	cursor: pointer;
	color: #9c27b0;
}

.logged-in {
	animation-name: drop-down-farther;
	animation-duration: 0.2s;
}

.notifications-panel {
	position: fixed;
	top: 56px;
	right: 0;
	background: black;
	width: 50vw;
	z-index: 1;
}

.note-card {
	width: 36vw;
	margin: 8px auto 14px;
}

.note-card-title {
	margin: 1rem 0 1.5rem 7vw;
}

.desktop-notes {
	margin-top: 1.6rem;
}

.desktop-notes .note-card {
	width: auto;
	margin: 0;
}

.desktop-notes .note-card-title {
	color: black !important;
	margin: 1rem 0 1rem 1vw;
}

.desktop-notes .card-content {
	padding: 12px;
}

.darken {
	background: rgba(0, 0, 0, 0.3);
	pointer-events: none;
}

.darken .brand-logo,
.darken .burger {
	color: grey;
}

/*change materialize form field default colors*/
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #9c27b0;
	box-shadow: none;
}

/*hide mobile nav menu*/
.hidden {
	display: none;
}

/*animations*/
@keyframes  drop-down {
	from {height: 0px;}
	to {height: 92px;}
}

@keyframes drop-down-farther {
	from {height: 0px;}
	to {height: 127px;}
}

@keyframes  appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*////////////////////////////////////////////// media queries ///////////////////////////////////////////////////////*/

/* have navbar fixed to top of window
for smaller screens*/
@media screen and (max-width: 992px) {
	.nav-wrapper {
		position: fixed;
		top: 0;
		z-index: 1;
	}
}

/* keep mobile notifications panel from
overlapping navbar */
@media screen and (min-width: 601px) {
	.notifications-panel {
		top: 64px;
	}
}

/* desktop styles */
@media screen and (min-width: 993px) {
	div.main {
		padding-top: 4vh;
	}
}
