body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e0e0e0;
}

form {
	padding: 2px 20px 0;
	margin-top: 46px;
}

form button,
form h5 {
	margin: 20px 0;
}

.field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 30px rgba(243,229,245,0.5) inset !important;
    transition: 0s !important;
}

.burger {
	background: transparent;
	border: none;
	cursor: pointer;
	color: #9c27b0;
}

.burger:focus {
	background-color: transparent;
}

.mobile-menu {
	padding-left: 24px;
	position: absolute;
	width: 100%;
	box-shadow: 0 2px 2px #9e9e9e;
	z-index: 1;
	animation-name: drop-down;
	animation-duration: 0.2s;
}

.mobile-links {
	margin-top: 8px;
	animation-name: appear;
	animation-duration: 0.2s;
}

.mobile-links li a {
	color: white;
}

.mobile-links li {
	margin-bottom: 14px;
}

.mobile-links li:last-child {
	margin-bottom: 28px;
}

.mobile-notes-trigger {
	cursor: pointer;
	color: #9c27b0;
}

.logged-in {
	animation-name: drop-down-farther;
	animation-duration: 0.2s;
}

.notifications-panel {
	position: absolute;
	top: 56px;
	right: 0;
	background: black;
	width: 50vw;
	z-index: 1;
}

/*change materialize form field default colors*/
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #9c27b0;
	box-shadow: none;
}

/*hide mobile nav menu*/
.hidden {
	display: none;
}

/*animations*/
@keyframes  drop-down {
	from {height: 0px;}
	to {height: 92px;}
}

@keyframes drop-down-farther {
	from {height: 0px;}
	to {height: 127px;}
}

@keyframes  appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*////////////////////////////////////////////// media queries ///////////////////////////////////////////////////////*/

/* keep mobile notifications panel from
overlapping navbar */
@media screen and (min-width: 601px) {
	.notifications-panel {
		top: 64px;
	}
}
